<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.x.memories">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- <uses-feature android:name="android.hardware.camera2" /> -->
    <application
        android:name=".controllers.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppThemeFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label="Memories"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Requests"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".receivers.BootUpReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.NotificationService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.UploadService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".VideoPlay"
            android:theme="@style/AppThemeBlue" />
        <activity
            android:name=".GrantedRequests"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GrantedView"
            android:theme="@style/AppThemeBlue" />
        <activity
            android:name=".DialogActivity"
            android:theme="@style/AppTheme.Dialog" />
        <activity android:name=".CreateEvent"></activity>
    </application>

</manifest>